/* --------------------------fonts------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
 /* -----------top portion styles---------------------------------- */
.top{
    background-color: #2D25A0;
    width:100%;
    height: 695px;
    display:flex;
}
#heading1{
    color:white;
    font-size: 64px;
    font-style: bold;
   
}
.heading{
    width: 485px;
    height: 230px;
    padding-top: 207px;
    padding-left:156px;
}
#Watch-live{
    color:white;
    width:168px;
    height:44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    ;
}
.fa-arrow-right{
    color: white;
    font-weight: 700;
    padding-left: 7px;
}
.football-image img{
    width:556px;
    height:438px;
    padding-top:153px;
    
}
.football-image{
    padding-left: 74px;

}
.football-image:hover img{
    transform:scale(1.5) rotate(20deg);
    transition:transform 5s ease-in-out;
}
/* -----------------------------------Players styles------------------------------------------------ */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:70px  180px; 
    
}
.player img{
    width:300px;
    height:220px;
    border-radius: 5px;
}
.player{
    background-color: white;
    box-shadow: 0px 0px 40px 0px #00000026;
    padding:15px;
    margin-right: 30px;
    margin-bottom: 27px;
    border-radius: 11px;

}
.player-heading{
    font-weight: 700;
}
.player p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin-bottom: 10px;

}
/* --------------------------------bonus part ------------------------------------------------*/
.bonus-optional{
    display:flex;
}
.bonus-ca{
    width:466px;
    height:280px;
    padding:70px;
    box-shadow: 0px 0px 40px 0px #00000026;
    margin-right: 50px;
    margin-left: 60px;
    border-radius: 5px;
    color: #6C6C6C;
}
.bonus-ca-image img{
    width:567px;
    height:427px;
    border-radius: 5px;

}
.videos{
    display:flex;
    
}
.videos iframe{
    padding:5px;
}

.bonus-1{
    background-color:lightblue;
    margin: 70px;
    padding: 20px;
    border-radius:10px;
    box-shadow: 0px 0px 40px 0px #00000026;
}
.bonus-2{
    background-color:  #2D25A0;
    margin:70px;
    display:block;
    text-align:center;
    border-radius: 10px;
}
.bonus-2 form{
    color:white;
    padding:25px;
    
}
/* -----------------------footer styles------------------------------------- */
.end{
    width:483.87px;
    height:213px;
    margin:auto;
     
     
}
footer img{
    width:300.87px;
    

}
.end .icons{
    margin:30px 160.94px 51px 175.94px;
    color:grey;
}
i{
    padding-right: 15px;
}
.copyright{
    font-size: 18px;
    font-family: 400;
    margin:182px 123.94px 0px;

}
/* media queries for mobile */
@media only screen and (max-width:688px) {
    .container{
        width:100%;
    }
    
    .top{
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-wrap: wrap;
        
        
       

        
    }
    .heading, .football-image{
        padding:0;
        width:100px;
        
        
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        padding:0;
    }
    .football-image img{
        width:350px;
        height:150px;
    }
    .bonus-optional{
        flex-direction: column;
        justify-content: space-between;
    }
    .bonus-ca{
        padding:0;
        margin:4px;
        margin-bottom:25px;
        
    }
    .bonus-ca-image img{
        width:350px;
        height:220px;
    }
    .videos{
        flex-direction: column;
        
    }
    iframe{
         width:200px;
    }
    .copyright{
        font-size:7px;
        margin:70px 100px;
        
    }
    
    
        
    
    .icons{
        margin:0;
    }
}